@tailwind base;
@tailwind components;

.app-btn {
    @apply appearance-none bg-transparent uppercase whitespace-nowrap text-3xl text-current border-none rounded-lg flex items-center justify-center drop-shadow-md overflow-hidden px-6 py-4 hover:opacity-80 hover:bg-black/10 disabled:opacity-20;
}

.app-btn-outline {
    @apply app-btn;
    @apply ring-1 ring-white;
}

.app-btn-nav {
    @apply app-btn;
    @apply w-full justify-start rounded-none;
}

.app-btn-round {
    @apply app-btn;
    @apply aspect-square rounded-full;
}

.app-btn-combo {
    @apply app-btn-nav;
    @apply justify-center bg-black/10 border-r-[1px] border-black/10 border-solid;
}

.app-text-input {
    @apply appearance-none bg-transparent border-b-[1px] border-gray-400 w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none focus:border-gray-300 text-white;
}

.app-flex-center {
    @apply flex items-center justify-center;
}

.app-bg-primary {
    background: var(--color-primary);
}

.app-bg-secondary {
    background: var(--color-secondary);
}

.app-bg-ternary {
    background: var(--color-ternary);
}

.app-color-primary {
    color: var(--color-primary);
}

.app-color-secondary {
    color: var(--color-secondary);
}

.app-color-ternary {
    color: var(--color-ternary);
}

.app-bg-primary-to-secondary {
    background: linear-gradient(
        to right bottom,
        var(--color-bg-1),
        var(--color-bg-2)
      )
}

.app-shadow-primary {
    box-shadow: 0px 2px 4px -1px var(--color-shadow),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

.app-shadow-secondary {
    box-shadow: 0px 3px 1px -2px var(--color-shadow),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
}

.app-border-bottom-light {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.app-border-top-light {
    border-top: 1px solid rgb(255, 255, 255, 0.08);
}

@tailwind utilities;

:root {
    --color-primary: #648880;
    --color-secondary: #35465f;
    --color-ternary: #607c85;
    --color-shadow: rgba(0,0,0,0.2);

    --color-bg-1: #648880;
    --color-bg-2: #35465f;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) transparent;
}
  
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}
  
*::-webkit-scrollbar-track {
    background: transparent;
}
  
*::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 14px;
    border-color: transparent;
}